html {
  font-size: 62.5%; // 1rem is 10px
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.8rem;
  padding: 4rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}
