.blog-container {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  position: relative;

  .admin-blog-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      margin-left: 1.5rem;
      cursor: pointer;
    }
  }

  .new-blog-link {
    position: fixed;
    right: 0;
    bottom: 0;

    a {
      font-size: 6rem;
      cursor: pointer;
      color: $teal;
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $dark-teal;
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: 80rem;

    a {
      cursor: pointer;
      text-decoration: none;
      color: black;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $teal;
      }
    }
  }

  .blog-item {
    margin: 1rem;
    box-shadow: 0 2px 4px hsla(0, 0%, 59%, 0.355);
    padding: 2rem;
    width: 80rem;
  }

  .featured-image-wrapper {
    img {
      margin: 15px 0px;
      width: 100%;
      height: 35rem;
      border-radius: 5px;
      object-fit: cover;
    }
  }
}

.blog-banner {
  text-align: center;
  height: 20vh;
  font-size: 6rem;
  width: 100vw;
}

@media only screen and (max-width: 1400px) {
  .blog-banner {
    font-size: 3rem;
    margin-top: 15rem;
    opacity: 0;
  }
}
