.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .admin-blog-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      margin-left: 1.5rem;
      cursor: pointer;
    }
  }

  .new-blog-link {
    position: fixed;
    right: 0;
    bottom: 0;

    a {
      font-size: 6rem;
      cursor: pointer;
      color: $teal;
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $dark-teal;
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin-bottom: 10rem;

    a {
      cursor: pointer;
      text-decoration: underline;
      color: black;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $teal;
      }
    }
  }

  .blog-item {
    margin: 1rem;
    background-color: $offwhite;
    box-shadow: 0 2px 4px hsla(0, 0%, 59%, 0.355);
    width: 80rem;

    h1 {
      padding-left: 3rem;
    }

    .blog-content {
      padding-bottom: 2rem;
      padding-left: 2rem;
    }
  }
}

.blog-banner {
  font-size: 3rem;
  height: 20vh;
  width: 100vw;

  blockquote {
    text-align: center;
    width: 70%;
  }
}

@media only screen and (max-width: 1400px) {
  .blog-banner {
    font-size: 3rem;
    margin-top: 15rem;
    opacity: 0;
  }
}

.content {
  background-color: white;
  padding: 2rem;
}

.blog-title {
  padding-top: 3rem;
  background-color: $water-color;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 5rem;
  height: 10rem;
  text-align: center;
}
