.header {
  height: 260px;
  width: 100%;
  text-align: left;
  font-family: ftnk;

  h2 {
    color: #333333;
    font-size: 70px;
    font-style: normal;
    font-weight: bold;
    line-height: 70px;
    text-transform: none;
  }

  h3 {
    color: #999999;
    font-size: 22px;
    line-height: 28px;
  }
}
