.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 6rem;
  font-size: 2rem;

  .right-side {
    a {
      margin-left: 1.5rem;
      cursor: pointer;
      color: $teal;
      transition: 0.5s ease-in-out;
      font-size: 2rem;

      &:hover {
        color: $dark-teal;
      }
    }
  }
  .left-side {
    display: flex;
  }

  .nav-link-wrapper {
    height: 2.2rem;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;
    margin-right: 2rem;
    text-transform: lowercase;

    a {
      color: #222;
      text-decoration: none;

      &:hover {
        color: $grey;
      }
    }

    &:hover {
      border-bottom: 1px solid $grey;
    }

    .nav-link-active {
      border-bottom: 1px solid $teal;
      color: $teal;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .left-side {
    flex-direction: column;
    position: absolute;
  }
  .nav-link-wrapper {
    margin-bottom: 2rem;
    padding: 8px;
    z-index: 5;
    background-color: $body-color;
  }
  .right-side {
    opacity: 0;
  }
}
